.valid-card {
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(245, 243, 243);
  display: flex;
  justify-content: space-between;
}

.valid-card__number {
  margin-top: 10px;
}

.valid-card__right-column {
  display: flex;
  align-items: center;
}

.valid-card__discount {
  font-weight: bold;
}